/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 4, 2017, 9:26:40 PM
    Author     : habib
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
      font-family: 'Roboto', sans-serif;
}

.sh-head-custom{
      background: url(../images/bg_head.jpg) no-repeat center top;
      height: 100px;
}

.sh-head-custom-right{
      padding-top: 30px;
}

.navbar{
      margin-bottom: 0px;
}
.logo-custom{
      margin-top: 12px;
      margin-right: 12px;
      float: left;
      width: 60px;
}

.logo-text{
      font-weight: bold;
      color: #00A65B;
      float: left;
      margin-top: 18px;
      font-size: 40px;
}

.navbar-static-top-custom{
      background: #00A65B;
}
.navbar-form{
      padding: 0px 0px;
}

.navbar-form .form-control{
      border-radius: 0px;
      min-width: 250px;
}

.navbar-inverse{
      border-bottom: 0px;
}

.sh-top-jumbotron{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      min-height: 400px;
}

.sh-title-jumbotron{
      text-align: center;
      margin-top: 0px;
      margin-bottom: 10px;
      color: #fff;
}

.sh-center-main-box{
      margin-bottom: 30px;
}

.sh-title-one{
      color: #00A65B;
}

.sh-title-two{
      color: orange;
}

.sh-title-three{
      text-align: center;
      margin-top: 0px;
      margin-bottom: 10px;
      color: #fff;
}

.sh-box-one{
      padding-top: 15px;
      padding-bottom: 15px;
      min-height: 270px;
      border: 1px solid #dddddd;
      background: #F3F8F6;
}

.sh-box-one p a{
      font-size: 14px;
      color: #000;
}

.sh-box-one p:hover a{
      font-size: 14px;
      color: #0073b7;
      text-decoration: none;
}

.sh-head-custom-right a{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 10px;
      border: 3px solid #48E28D;
      border-radius: 50%;
      background: #47D386;
      margin-left: 5px;
      margin-right: 5px;
}

.sh-head-custom-right a:hover{
      border: 3px solid #47D386;
      background: #48E28D;
}

.sh-head-custom-right a i{
      font-size: 30px;
      color: #fff;
}

.sh-search{
      margin-bottom: 0px !important;
}

.sh-form-search{
      border-radius: 0px;
}

.sh-box-detail{
      border: 1px solid #DDD; 
      padding: 0px;
      min-height: 265px;
      margin-bottom: 30px;
      box-shadow: 2px 2px 2px #DDD;

}

.sh-box-detail p{
      padding: 10px;

}
.sh-organisasi{
      text-align: center;
}


.fa-150px{
      font-size: 150px;
}

.fa-100px{
      font-size: 100px;
}

.sh-cari{
      background: #fff;
      font-size: 18px;
      border-radius: 30px !important;
      padding: 10px !important;
}
