/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 26, 2017, 7:53:52 AM
    Author     : habib
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body{
      font-family: 'Roboto', sans-serif !important;
      height:100% !important;
}

.bg-body{
      background: url(../images/bg_login1.jpg) no-repeat center;
}

/* LOGIN */
.logo-custom{
      margin-top: 7px;
      width: 35px;
      margin-left: auto;
      margin-right: 10px;
      float: left;
}

.login-bkpsdm{
      height: 100%;
}

.box-login{
      padding-top: 50px;
      padding-left: 50px;
      height: 100%;
      background: #fff;
      padding-right: 75px;
}
.header-logo{
      width: 100%;
      margin-bottom: 50px;
}
.logo-text{
      color: #008448;
      font-size: 35px;
}

.footer-custom{
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 40px;
}
/* DASHBOARD */
.main-header .logo .logo-head{
      width: 25px !important;
}

.sidebar-menu li i{
      color: #008448;
}

.modal-header{
      background: url(../images/bg_head.jpg) no-repeat center bottom;
}
.modal-title{
      color: #000;
      text-align: center;
}
/* PUBLIC */

.content-wrapper{
      background: url(../images/bg_inner.jpg) no-repeat center top fixed;
}

.modal-lg-habib{
      width: 90% !important;
}

#ui-tinymce-1_ifr{
      height: 350px !important;
}

#ui-tinymce-2_ifr{
      height: 350px !important;
}