/*image preview*/
.container{
	margin-top:20px;
}
.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
	margin-left:2px;
}

/*fullscreen modal*/
[modal] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
[modal-dialog] {
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}
[modal-content] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
}
[modal-header] {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	padding: 10px;
}
[modal-body] {
	position: absolute;
	top: 50px;
	bottom: 60px;
	width: 100%;
	font-weight: 300;
	overflow: auto;
}
[modal-footer] {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 60px;
	padding: 10px;
}